.auth-forms {
  .form-control {
    border-width: 0;
    color: rgba(27, 27, 27, 0.8);
    border-bottom: 3px solid rgba(44, 62, 80, 0.2);
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 1rem;
  }
}
